{% extends 'base.html' %}

{% block navMenueHeader %}
	<nav class="navbar" id="navbartop">
		<div class="navbar_container">
			<div class="nav-left">
			<ul>
				<li><a class="active" href="#">Home</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#skills">Skills</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.navbar ul li a').click(function(){
    $('.navbar li a').removeClass("active");
    $(this).addClass("active");
});
});
</script>
			<div class="nav-right">
			<ul>
            	<li><span id="datetime"></span></li>
        	</ul>
			</div>
		<script>
		var dt = new Date();   
		const monthLst = ['January', 'February', 'March', 'April', 'May', 'June',
		               'July', 'August', 'September', 'October', 'November', 'December']

    const dayLst = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
		var month = monthLst[dt.getMonth()]
		var dayofWeek = dayLst[dt.getDay()]
		var year = dt.getFullYear();
		var dayofMonth = dt.getDate();
		dayofMonth = dayofMonth.toString();
		year = year.toString();
		var printingDate =dayofWeek +", " + month + "-" + dayofMonth + "-" + year;
		document.getElementById('datetime').innerHTML=printingDate;
		</script>

		</div>
	</nav>
{% endblock %}


{% block content %}
<div class='about_me'>
  <h2 class="aboutheader">Welcome to my website.</h2>
  <div class='row'>
    <div class='about_left_column'>
    	<p>I am Ted Naseri, a Data Scientist who is passionate aboute building Machine Learning models and product development. I have experiences in different data science projects including supervised and unsupervised learning using wide range of machine learning algorithms. I am interested in combining my Data Science technical skills and business skills to generate practical machine learning models and products.</p>
    	<p>I have a PhD. in computational engineering and a bachelore in Computer Science. I am proud of transfering my computer science knowledge into materials engineering field and fulfill multiple simulation projects in the field of computational materials science.</p>
    	<p class="quote">"There is no substitute for hard work.", Thomas Edison</p>
    </div>

  	<div class='about_right_column'>
  		<img src="/static/images/ted.jpg" alt="Ted" style="min-width: 250px; max-width: 250px;min-height: 250px;max-height: 250px; margin-left: auto; margin-right: auto;   border:2px #ccc solid; border-radius:5px;">
    </div>
  </div>
</div>

<form method="get" action="static/Resume_Ted_Naseri.pdf" target="_blank">
   <button class="button" name="btn" type="submit" style="width:120px; margin-left: 30px;">My Resume</button>
</form>



<div class='project-wrapper1'>
<h2 class="subheader" id="projects">My Projects<br> <span style="font-size: 18px;">in Data Science; Natural Language Processing, Regression, Classification</span></h2>
  <div class='row'>
    <div class='column' onclick="window.open('/text_summary', '_blank');" id="smallbox">
      <div class='blue-column'>
      <h2 class="subtitle">Automatic Text Summarization</h2>
      <hr style = "margin-top: 0px;">
      <p>A deployed web application which firstly read text of a URL given by user and then automatically summarized text and returns summary along with the statistical report of the original text.</p>
      </div>
    </div>
  
    <div class='column' onclick="window.open('/spam_classifier', '_blank');" id="smallbox">
      <div class='green-column'>
      <h2 class="subtitle">Text Message Spam Classifier</h2>
      <hr style = "margin-top: 0px;">
      <p>A Supervised Machine Learning project used a SMS dataset to detect whether a message is spam or not. Finally the project is deployed as a product in form of a web application.</p>
      </div>
    </div>
  </div>

    <div class='row'>
    <div class='column' onclick="window.open('/home_prices', '_blank');" id="smallbox">
      <div class='blue-column'>
      <h2 class="subtitle">Homes Price Prediction</h2>
      <hr style = "margin-top: 0px;">
      <p>In this project, it is focused on Explanatory Data Analysis. The real dataset of the project has noticeable amount of missing data. Different approaches are applied to impute missing data. Finally machine learning models were trained on the prepared dataset where mean squared error considered as the business metric for being minimized.</p>
      </div>
    </div>
    <div class='column' onclick="window.open('/rental_cost', '_blank');" id="smallbox">
      <div class='green-column'>
      <h2 class="subtitle">Home Rental Cost Prediction</h2>
      <hr style = "margin-top: 0px;">
      <p>In this project, Explanatory Data Analysis along with imputing missing data and feature engineering for analyzing the house insurance dataset. Then, different classification algorithms were used for training on prepared dataset to check the possibility of making insurance claim.</p>
      </div>
    </div>
  </div>

<div class='row'>
    <div class='column' onclick="window.open('/car_insurance', '_blank');" id="smallbox">
      <div class='blue-column'>
      <h2 class="subtitle">Insurance Claim Prediction</h2>
      <hr style = "margin-top: 0px;">
      <p>In this project, it is focused on Explanatory Data Analysis. The real dataset of the project has noticeable amount of missing data. Different approaches are applied to impute missing data. Finally machine learning models were trained on the prepared dataset where mean squared error considered as the business metric for being minimized.</p>
      </div>
    </div>
  </div>
</div>


<div class='project-wrapper2'>
<h2 class="subheader" id="projects">My Projects<br> <span style="font-size: 18px;">in Mathematics, Programming, and Machine Learning for Engineering Applications</span></h2>
<p style="margin-left: 20px; margin-right: 20px;  text-align: justify;">This part includes my contributions to a large-scale project on:
"Mathematical development and C++ implementation of a complex materials behavior for industrial applications".
I am working on this project as a graduate student and software developer at Laval University and National Research Council of Canada (NRC) since 2016. In this project, first, I have developed mathematics formulation for a simple scenario. Then step by step we have added more complexity to our mathematics formulation in order to simulate real applications of the industry. For the first time, these mathematics are developed and the achievements are published in form of three journal papers. Finally, an object-oriented C++ model is designed and implemented. In order to increase the computational performace, first I have build new dataset for industrial alloys and then applied machine learning algorithms which help us to increase the accuracy and portability of the developed model.</p>
  <div class='row'>
    <div class='column' onclick="window.open('/static/Mathematical_Development.pdf', '_blank');" id="smallbox">
      <div class='blue-column'>
      <h2 class="subtitle">Mathematical Development</h2>
      <hr style = "margin-top: 0px;">
      <p>The mathematical development of this project is divided into three parts which is started by development for a simple case. Then by adding more complexity we could successfully simulate real applications from Aluminum industry. You can find here the details of mathematical development and some results and verification.</p>
      </div>
    </div>
  
    <div class='column' onclick="window.open('/phase_diagram', '_blank');" id="smallbox">
      <div class='green-column'>
      <h2 class="subtitle">Machine Learning Implementation in Python</h2>
      <hr style = "margin-top: 0px;">
      <p>One of the challenges of these simulations, is the requirement of permanent connection to a third thermodynamics database. We could overcome this challenge by building a new dataset for industrial alloy and then applying machine learning algorithms.</p>
      </div>
    </div>
  </div>

<div class='row'>
      <div class='column' onclick="window.open('https://github.com/tednaseri/simulation_industrial_application/blob/main/Machine_Learning.cpp', '_blank');" id="smallbox">
      <div class='blue-column'>
      <h2 class="subtitle">Machine Learning Implementation in C++</h2>
      <hr style = "margin-top: 0px;">
      <p>After validation of K-Nearest Neighbore model (KNN) in python, this machine learning algorithm is implemented in C++ using "MLPack" library. This methodology helped us to increase the accuracy and portability of our developed C++ model. A simple version of the functions which are used in real project are shared in GitHub.</p>
      </div>
    </div>

      <div class='column' onclick="window.open('https://github.com/tednaseri/simulation_industrial_application/blob/main/Numerical_Calculation.cpp', '_blank');" id="smallbox">      <div class='blue-column'>
      <h2 class="subtitle">C++ Implementation</h2>
      <hr style = "margin-top: 0px;">
      <p>I implemented the developed mathematical formulas to an industrial applications by implementing a high-performance, object-oriented C++ code. Our developed model has higher computational performance than current commercial tools. Some of the functions which are used in real project are shared in GitHub.</p>
      </div>
    </div>

  </div>
</div>


<div class='skill-wrapper'>
<h2 class="subheader" id="skills">Skills</h2>
  <div class='row'>
    <div class='column'>
      <div class='blue-column'>
      <h2 class="subtitle">Coding Languages</h2>
      <hr style = "margin-top: 0px;">
      <p style="margin-bottom: 0px;">Strong skills in coding using different tools:</p>
        <ul style="margin-top: 0px;">
		<li>Scripting languages: Python, SQL, MATLAB</li>
		<li>Programming languages: C++</li>
	  </ul>
      </div>
    </div>
  
    <div class='column'>
      <div class='green-column'>
      <h2 class="subtitle">Data Analysis</h2>
      <hr style = "margin-top: 0px;">
      <p style="margin-bottom: 0px;">Highly experienced in data mining, cleaning, and data visualization:</p>
      <ul style="margin-top: 0px;">
		<li>Pandas, Numpy</li>
		<li>Matplotlib, Seaborn</li>
		<li>Tableau</li>
	  </ul>
      </div>
    </div>
  </div>

    <div class='row'>
    <div class='column'>
      <div class='green-column'>
      <h2 class="subtitle">Machine Learning</h2>
      <hr style = "margin-top: 0px;">
      <p>Highly experienced in Supervised & Unsupervised Learning algorithms using ML Frameworks (scikit-learn, tensorflow/keras, pyspark)</p>
      </div>
    </div>

        <div class='column'>
      <div class='blue-column'>
      <h2 class="subtitle">MLOps</h2>
      <hr style = "margin-top: 0px;">
      <p style="margin-bottom: 0px;">Experienced in building machine learning web application products using:</p>
      <ul style="margin-top: 0px;">
		<li>Python Flask  web framework</li>
		<li>HTML</li>
		<li>CSS</li>
	  </ul>
      </div>
    </div>
  </div>

      <div class='row'>
    <div class='column'>
      <div class='green-column'>
      <h2 class="subtitle">Analytical Skills</h2>
      <hr style = "margin-top: 0px;">
      <p>Good knowledge of Statistics and probability, Design of experiments, A/B testing, Hypothesis testing</p>
      </div>
    </div>

        <div class='column'>
      <div class='blue-column'>
      <h2 class="subtitle">MLOps</h2>
      <hr style = "margin-top: 0px;">
      <p style="margin-bottom: 0px;">Experienced in building machine learning web application products using:</p>
      <ul style="margin-top: 0px;">
		<li>Python Flask  web framework</li>
		<li>HTML</li>
		<li>CSS</li>
	  </ul>
      </div>
    </div>
  </div>
</div>

	
{% endblock %}