{% extends 'base.html' %}

{% block navMenueHeader %}
	<nav class="navbar" id="navbartop">
    <div class="navbar_container">
      <div class="nav-left">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#projects">Projects</a></li>
        <li><a href="/#skills">Skills</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      </div>

      <div class="nav-right">
      <ul>
              <li><span id="datetime"></span></li>
          </ul>
      </div>
    <script>
    var dt = new Date();   
    const monthLst = ['January', 'February', 'March', 'April', 'May', 'June',
                   'July', 'August', 'September', 'October', 'November', 'December']

    const dayLst = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
    var month = monthLst[dt.getMonth()]
    var dayofWeek = dayLst[dt.getDay()]
    var year = dt.getFullYear();
    var dayofMonth = dt.getDate();
    dayofMonth = dayofMonth.toString();
    year = year.toString();
    var printingDate =dayofWeek +", " + month + "-" + dayofMonth + "-" + year;
    document.getElementById('datetime').innerHTML=printingDate;
    </script>

    </div>
  </nav>
{% endblock %}

{% block navMenue %}
	<nav class="navbar">
		<div class="navbar_container">
			<ul>
				<li><a href="/text_summary">Home</a></li>
				<li><a class="current" href="#">Word Frequency</a></li>
				<li><a href="/tf-idf">TF-IDF</a></li>
				<li><a href="/lexRank">Lex Rank</a></li>
				<li><a href="/textRank">Text Rank</a></li>
			</ul>
		</div>
	</nav>
{% endblock %}


{% block content %}
<p style="font-size: 28px; font-weight: bold; color: #0000CD; text-align: center; margin-bottom: 40px;">Automatic Text Summarization</p>
<label for="algorithm" style="color: #FFD700";>Algorithm: {{type_summarizer}}</label>
<form class="newForm" action = '/wordFreq' method="POST">
	<div>
		<h2 style = "font-size: 18px; margin-bottom: 0px;">Submitting Form:</h2>
		<hr>
	</div>
	
	<div class="form-group">
		<label>Please enter the URL of the original text for getting summary:</label>
		<input type="text" name = "input_url" id = "input_url"  placeholder = " https://en.wikipedia.org/wiki/" maxlength = "200" style = "width: 300px"  value = "{{request.form['input_url']}}" ></input>
	</div>
	
	<div class="form-group">
		<label for="length">Length of summary:</label>
		<select name="length" id="length">
			<option value=15>15 Sentences</option>
			<option value=20>20 Sentences</option>
	  		<option value=25>25 Sentences</option>
	  		<option value=30>30 Sentences</option>
	  		<option value=35>35 Sentences</option>
	  		<option value=40>40 Sentences</option>
	  		<option value="threshold">Using Threshold</option>
		</select>
	</div>
	
	<input class="button" name="btn" type="submit" value="Submit">
    <input class="button" name="btn" type="submit" value="Reset" accesskey="r">


	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        {% for message in messages %}
	            <div class="alert" role="alert">
	                <span>{{ message }}</span>
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none';">
	                <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	        {% endfor %}
	    {% endif %}
	{% endwith %}
</form>        

	{% if  original_text != " " %}
	<div class="reportBox" id="reportAnchor">
		{% if scroll %}
		<script>
		    document.location.hash = '#' + '{{ scroll }}';
		</script>
		{% endif %}
		<a id="reportTag"></a>
		<h2>Reports:</h2>
		<h3>No. of sentences: <span class="colorText">(Input: {{input_sent_count}}, Summary: {{summary_sent_count}})</span></h3>

		<!-- Feature boxes -->
	    <div class="report">
	        <div class="box1">
	            <h3>Distribution of Sentences Score</h3>
				<img class="imgClass" src="data:image/png;base64, {{ plot_url1}}">
	        </div>
	        <div class="box2">
	            <h3>Sentences Scores: Input Text vs Summary</h3>
	   			<img class="imgClass" src="data:image/png;base64, {{ plot_url2}}">
	        </div>
	        <div class="box3">
	            <h3>Top 10 Frequent Word</h3>
	            <table>
			    <tr>
			        {% for col in column_names %}
			        <th>{{col}}</th>
			        {% endfor %}
			    </tr>
			    {% for row in row_data %}
			    <tr>
			        {% for col, row_ in zip(column_names, row) %}
			        {% if col == link_column %}
			        <td>
			            <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
			                {{ row_ }}
			            </button>
			        </td>
			        {% else %}
			        <td>{{row_}}</td>
			        {% endif %}
			        {% endfor %}
			    </tr>
			    {% endfor %}

				</table>
	        </div>
	    </div>



		<br>
		<br>
		<div>
		<h2>Summary:</h2>
		<textbox name="output_text" id="output_text">
			<p>{{ output_summary }} </p>
		</textbox>
		</div>
		<hr>
		<br>
		<h2>Original Text:</h2>
	    <p>{{ original_text }}</p>		
	</div>
    {% endif %}

{% endblock %}